*{
 padding: 0px;   
 margin: 0px;
 box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./Images/3.png);
    background-size: cover ;
    background-repeat: no-repeat;
    color: #FFE6E6;
}

header{
    /* position: absolute; */
    /* border: 1px solid red; */
    width: 100vw;
    height: 15vh;
    
    
}

header img{
    width: 35rem;
}


h1{
    /* text-transform: capitalize; */
    font-size: 6rem;
    /* color: white; */
}

h2{
    text-transform: capitalize;
    font-size: 8rem;
}

.main-div{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 85vh;
}
.resume{
    /* border: 1px solid red; */
    flex-grow: 1;
    margin-left: 8rem;
    margin-top: -30px;
    /* padding-top: -210px; */
    padding-top: -30px;
    display: flex;
    justify-content: center;  
    flex-direction: column;
    line-height: 2rem;

}


.resume a{

    /* border: 0.3rem solid green; */
    /* word-wrap: break-word; */
    writing-mode: vertical-lr;
    font-weight: bolder;
    width: 110px;
    font-size: 2.5rem;
    text-decoration: none;
    color: #FB2576;

}

.name{
    margin-top: 20.5vh;

    margin-right: 3rem;
   
}
p{
    font-size: 2.7rem;
}
